.body {
    background: rgb(222,49,108);
    background:background: rgb(6,228,184);
    background: background: rgb(6,137,228);
    background: background: rgb(222,49,151);
    background: linear-gradient(52deg, rgba(222,49,151,1) 8%, rgba(255,20,147,1) 37%, rgba(255,0,104,1) 100%);
    text-align: center;
    padding: 100px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    }
    .ju {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:deeppink;
    
    }
    